{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <form action="{% url 'prognoz' %}" method="post">
        {% csrf_token %}
        <table class="striped">
            <thead>
            <tr>
                <th>Прогноз</th>
            </tr>
            </thead>
            {{ settingsform }}
        </table>

        <table class="striped">
            <thead>
            <tr>
                <th>Магазин</th>
            </tr>
            </thead>
            <tbody>
            {% for post in table %}
                <tr>
                    <th><label for="id_mag">{{ post }}</label></th><td><input type="checkbox" name="mag" id="id_mag" value="{{ post }}"/></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <input type="submit" value="Показать" />
    </form>

{% endblock %}

