{% load staticfiles %}
<!-- agents section -->
<section class="demo" id="coaches">
	<div class="container">
		<h3 class="heading">Meet Our <span>Coaches</span></h3>
		<div id="verticalTab">
			<ul class="resp-tabs-list">
				<li>
					<div class="col-md-4 tab1">
						<img src="{% static 'images/s1.jpg' %}" alt="" />
					</div>
					<div class="col-md-8 tab1">
						<h3>william  d'cruz</h3>
						<h4>Fit club trainer</h4>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="col-md-4 tab1">
						<img src="{% static 'images/s4.jpg' %}" alt="" />
					</div>
					<div class="col-md-8 tab1">
						<h3>sanrick  d'cruz</h3>
						<h4>Fit club trainer</h4>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="col-md-4 tab1">
						<img src="{% static 'images/s2.jpg' %}" alt="" />
					</div>
					<div class="col-md-8 tab1">
						<h3>louis phillipe</h3>
						<h4>Fit club trainer</h4>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="col-md-4 tab1">
						<img src="{% static 'images/s3.jpg' %}" alt="" />
					</div>
					<div class="col-md-8 tab1">
						<h3>mary lindey</h3>
						<h4>Fit club trainer</h4>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
			<div class="resp-tabs-container">
				<div>
					<div class="col-md-7 tabs-right1">
						<h3>william  d'cruz</h3>
						<h4>Coach : Fit club trainer</h4>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a  href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
						<div class="tab-bottom">
							<p><i class="fa fa-map-marker" aria-hidden="true"></i>4615 50 Ave, Lloydminster, Canada</p>
							<p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:mail@example.com">mail@example.com</a></p>
							<p><i class="fa fa-phone" aria-hidden="true"></i>+120 233 455 7654</p>
						</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisthn cingelit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit dolor sit amet.</p>

					</div>
					<div class="col-md-5 tabs-right2">
							<img src="{% static 'images/s11.jpg' %}" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div>
					<div class="col-md-7 tabs-right1">
						<h3>sanrick  d'cruz</h3>
						<h4>Coach : Fit club trainer</h4>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a  href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
						<div class="tab-bottom">
							<p><i class="fa fa-map-marker" aria-hidden="true"></i>4615 50 Ave, Lloydminster, Canada</p>
							<p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:mail@example.com">mail@example.com</a></p>
							<p><i class="fa fa-phone" aria-hidden="true"></i>+010 233 455 6789</p>
						</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisthn cingelit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit dolor sit amet.</p>

					</div>
					<div class="col-md-5 tabs-right2">
							<img src="{% static 'images/s44.jpg' %}" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div>
					<div class="col-md-7 tabs-right1">
						<h3>louis phillipe</h3>
						<h4>Coach : Fit club trainer</h4>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a  href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
						<div class="tab-bottom">
							<p><i class="fa fa-map-marker" aria-hidden="true"></i>4615 50 Ave, Lloydminster, Canada</p>
							<p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:mail@example.com">mail@example.com</a></p>
							<p><i class="fa fa-phone" aria-hidden="true"></i>+210 927 633 2468</p>
						</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisthn cingelit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit dolor sit amet.</p>

					</div>
					<div class="col-md-5 tabs-right2">
							<img src="{% static 'images/s22.jpg' %}" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div>
					<div class="col-md-7 tabs-right1">
						<h3>mary lindey</h3>
						<h4>Coach : Fit club trainer</h4>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a  href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
						<div class="tab-bottom">
							<p><i class="fa fa-map-marker" aria-hidden="true"></i>4615 50 Ave, Lloydminster, Canada</p>
							<p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:mail@example.com">mail@example.com</a></p>
							<p><i class="fa fa-phone" aria-hidden="true"></i>+105 967 254 7834</p>
						</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisthn cingelit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit dolor sit amet.</p>

					</div>
					<div class="col-md-5 tabs-right2">
							<img src="{% static 'images/s33.jpg' %}" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //agents section -->