{% load staticfiles %}
<!-- Our Classes -->
<section class="popular_classes" id="classes">
	<div class="container">
		<h3 class="heading">Our <span>Classes</span></h3>
		<div class="classes_grids">
			<div class="col-md-4">
			<div class="classes_grid1">
				<img src="{% static 'images/c1.jpg' %}" alt="popular cakes" />
				<h3>Beginner Classes</h3>
				<p>Vestibulum volutpat faucibus semper int Proin ultricies vestibulum velit.</p>
			</div>
			</div>
			<div class="col-md-4">
			<div class="classes_grid1">
				<img src="{% static 'images/c2.jpg' %}" alt="popular cakes" />
				<h3>Personal Training</h3>
				<p>Vestibulum volutpat faucibus semper int Proin ultricies vestibulum velit.</p>
			</div>
			</div>
			<div class="col-md-4">
			<div class="classes_grid1">
				<img src="{% static 'images/c3.jpg' %}" alt="popular cakes" />
				<h3>Gymnastic Classes</h3>
				<p>Vestibulum volutpat faucibus semper int Proin ultricies vestibulum velit.</p>
			</div>
			</div>
			<div class="clearfix"></div>
			<div class="classes_bottom_grids">
				<div class="col-md-4">
				<div class="classes_grid1">
					<img src="{% static 'images/c4.jpg' %}" alt="popular cakes" />
					<h3>Barbell Training</h3>
					<p>Vestibulum volutpat faucibus semper int Proin ultricies vestibulum velit.</p>
				</div>
				</div>
				<div class="col-md-4">
				<div class="classes_grid1">
					<img src="{% static 'images/c5.jpg' %}" alt="popular cakes" />
					<h3>6pack workout</h3>
					<p>Vestibulum volutpat faucibus semper int Proin ultricies vestibulum velit.</p>
				</div>
				</div>
				<div class="col-md-4">
				<div class="classes_grid1">
					<img src="{% static 'images/c6.jpg' %}" alt="popular cakes" />
					<h3>Crossfit Classes</h3>
					<p>Vestibulum volutpat faucibus semper int Proin ultricies vestibulum velit.</p>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>
<!-- //Our Classes -->