{% load staticfiles %}
<!-- Clients -->
<section class="clients-main" id="testimonials">
	<div class="wthree-different-dot1">
		<div class="container">
			<!-- Owl-Carousel -->
			<h3 class="heading">What People <span>Say</span> </h3>
			<div class="cli-ent">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="item g1">
									<div class="agile-dish-caption">
									<img class="lazyOwl" src="{% static 'images/s1.jpg' %}" alt="" />
										<h5>Michael</h5>
										<h4>A great start to healthy life</h4>
									</div>

									<div class="clearfix"></div>
									<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sed sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
								</div>
							</li>
							<li>
								<div class="item g1">
									<div class="agile-dish-caption">
									<img class="lazyOwl" src="{% static 'images/s2.jpg' %}" alt="" />
										<h5>don libero</h5>
										<h4>Very professional club & coaches</h4>
									</div>

									<div class="clearfix"></div>
									<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sed sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
								</div>
							</li>
							<li>
								<div class="item g1">
									<div class="agile-dish-caption">
									<img class="lazyOwl" src="{% static 'images/s3.jpg' %}" alt="" />
										<h5>Elisa</h5>
										<h4>Workouts are worth attending</h4>
									</div>

									<div class="clearfix"></div>
									<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sed sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<!--// Owl-Carousel -->
		</div>
	</div>
</section>
<!--// Clients -->