{% load staticfiles %}
<!-- footer -->
<section class="footer">
	<div class="container">
		<div class="agileinfo-grids">
			<div class="agile-grid-left agile-grid-right">
				<h4>Keep Updated On Social Media</h4>
				<div class="social">
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-rss"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-vk"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="agile-nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#about" class="scroll">About</a></li>
				<li><a href="#classes" class="scroll">Classes</a></li>
				<li><a href="#coaches" class="scroll">Our Coaches</a></li>
				<li><a href="#testimonials" class="scroll">Testimonials</a></li>
				<li><a href="#pricing" class="scroll">Pricing Plans</a></li>
				<li><a href="#contact" class="scroll">Contact us</a></li>
			</ul>
		</div>
	</div>
</section>
<!-- //footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<p>© 2018 Fit club. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
	</div>
</div>
<!-- //copyright -->