{% load staticfiles %}
<!-- Modal pop-up -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Fit club</h4>
				<img src="{% static 'images/b2.jpg' %}" alt=" " class="img-responsive">
				<h5>Success your business </h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
			</div>
		</div>
		<!-- //Modal content-->
	</div>
</div>
<!-- //Modal pop-up -->