
<!-- stats -->
<section class="stats" id="stats">
	<div class="wthree-different-dot1">
		<div class="container">
			<h3 class="heading">Our <span>Stats</span></h3>
			<div class="agileits_stats_grids">
				<div class="col-md-3 col-xs-4 agileinfo_stats">
					<div class="agileinfo_stats_grid">
						<p class="counter">654</p>
						<h3>People</h3>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 agileinfo_stats mid-w3l-stat">
					<div class="agileinfo_stats_grid">
						<p class="counter">432</p>
						<h3>Classes</h3>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 agileinfo_stats mid-w3l-stat">
					<div class="agileinfo_stats_grid">
						<p class="counter">20</p>
						<h3>Experience</h3>
					</div>
				</div>
				<div class="col-md-3 col-xs-4 agileinfo_stats mid-w3l-stat">
					<div class="agileinfo_stats_grid">
						<p class="counter">230</p>
						<h3>Coaches</h3>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</section>
<!-- //stats -->